/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*reset end*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');



:root{
    --blk: #0D0D0D;
    --wtegry: #F2F2F2;
    --blue: #7ABFBF;
    --lt-blue: rgba(122, 191, 191, .5);
    --orng: #EB5428;
    --small: 414px;
    --bebas-txt:"Bebas Neue", "Times New Roman", sans-serif;
    --Mont-txt: "Montserrat", "Times New Roman", sans-serif;
}
/*declared variables*/
html{
    background-color: var(--lt-blue);
}
body{
    width: var(--small);
    margin: 0 auto;
    background-color: var(--wtegry);
}

nav a{
    font-family: var(--bebas-txt);
    font-weight: 400;
    font-size: 25px;
}

nav span{
    font-family: var(--bebas-txt);
    font-weight: 400;
    font-size: 20px;
}

#topBar{
    position: fixed;
    top:0;
    display:grid;
    width: var(--small);
    margin: 0 auto;
    grid-template-rows: 1fr 50px 1px;
    row-gap: 15px;
    background-color: var(--wtegry);
    text-transform: uppercase;
}
#topBar>div{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: white;

}

#topBar h2{
    font-size: 0;
    padding: 0;
    margin: 0;
}
#topBar a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

#menu{
    margin-top: 5px;
    height: 70px;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 2px -2px  rgba(0, 0, 0, 0.3);
}

#icon{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--orng);
    justify-content: center;
    box-shadow: 0 4px 2px -2px  rgba(0, 0, 0, 0.3);
}

#icon span{
    font-size: 0;
    padding: 0;
    margin: 0;
}

#userIcon{
    grid-column: 3/4;
    grid-row: 1/2;
    box-shadow: 0 4px 2px -2px  rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px;
}

#userIcon svg{
    margin-bottom: -10px;
    width: 80px;
}

#userIcon span{
    font-size: small;
    width:50px
}

#search{
    background-color: var(--wtegry);
    justify-content: center;
    text-align: center;
}

#topBar li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orng);
    border: 1px solid var(--blk);
    border-top: 0;
}

#topBar ul a img{
    width: 80px;
    text-align: center;
}


/*fix dropdown*/
#topBar img{
    max-height:0;
}
#topBar li a{
    height:40px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#topBar ul{
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
    z-index: 1;
}

input:checked~#dropDown{
    max-height:500px
}

h2+input{
    display: none;
}


#search h3{
    font-size: 0;
    padding: 0;
    margin: 0;
}

label {
    display: block;
}
  
input,label {
    margin: 0.4rem 0;
}

button{
    background-color: var(--orng);
    border: none;
}

#Search{
    border: 1px solid var(--orng);
    background-color: var(--wtegry);
}






#topBar ul{
    grid-row: 3;
    grid-column: 1/4;
    background-color: var(--wtegry);
}

#search svg{
    background-color: var(--orng);
}



#search input{
    width: 200px;
    height: 45px;
    margin-right: 50px;
    margin-top: -5px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
#search div{
    margin-top: -52px;
    margin-left: 200px;;
}

::placeholder{
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-family: Verdana;
}

h1{
    font-family: var(--bebas-txt);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 158px;
    margin-bottom: 20px;
    background-color: var(--wtegry);
    text-transform: uppercase;
}

main div>img{
    width: var(--small);
}




h1+menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
    text-transform: uppercase;
}

#options a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--orng);
}



p{
    font-family: var(--Mont-txt);
    font-weight: 400;
    font-size: 16px;
}

p.description{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1rem;
}


h2{
    font-family: var(--bebas-txt);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
/*
#details dl{
    display: grid;
    grid-template-columns: fit-content(100ch) fit-content(100ch);
    text-align: right;
    justify-content: center;
    gap: 10px
}

#details dd {
  text-align: left;
  background-color: #7ABFBF;
  width: fit-content(100ch);
}
*/

#details dl{
    text-align: left;
    margin-left:10px;
}
#details dd{
    font-family: var(--Mont-txt);
    font-weight: 400;
    font-size: 16px;
}

#details dt{
    font-family: var(--Mont-txt);
    font-weight: 700;
    font-size: 16px;
}
#details dd{
    
    margin-left: 10px;
}
#details dd,#details dt{
    display: inline;
    text-align: center;
}

#details dd::after{
    display: block;
    content: "\A";
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#supplies li{
    list-style: square;
    list-style-position: inside ;
    margin-left: 20px;
}

#directions ol{
    list-style: decimal;
    margin-left: 20px;
}

#directions li{
    margin-bottom: 10px;
}

aside{
    display:grid;
    grid-template-rows: repeat(4,auto);
    background-color: var(--blue);
    row-gap: 30px ;
}

h3{
    font-family: var(--bebas-txt);
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
}


aside h2{
    height: 20px;
}

aside section{
    display: grid;
    text-align: left;
    grid-template-rows: 50px, 1fr;
    grid-template:
        "img dish"
        "img describe"
        "img rate";
}

aside img{
    grid-area: img;
    width: 100px;
    margin-left: 10px;
}

aside dt{
    font-weight: bold;
    grid-area: rate;
    width: 270px;
    margin-bottom: 5px;
}

aside section:last-of-type{ 
    margin-bottom: 10px;
}

aside p{
    margin-top: 10px;
    margin-bottom: 10px;
}



footer{
    display: grid;
    grid-template-rows: 80px 1fr;
    text-transform: uppercase;
    font-family: var(--bebas-txt);
    font-size: 18px;
}


footer h2, footer h3{
    font-size: 0;
    padding: 0;
    margin: 0;
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--orng);
}

#goodEats{
    display: grid;
    width: var(--small);
    grid-template-rows: 200px 1fr 1fr;
    grid-template-columns: var(--small);
    align-items: center;
    justify-content: center;
}

#goodEats img{
    grid-row: 1;
    width: 200px;
    height: 200px;
    margin: auto;
}

footer small{
    text-align: center;
}


@media(min-width:768px) and (max-width:1280px){
    :root{
        --med: 768px;
    }
    
    body{
        width: var(--med);
    }

    #topBar{
        z-index: 2;
        width: var(--med);
        margin: 0 auto;
        grid-template-rows: 1fr;
        row-gap: 15px;
        background-color: var(--wtegry);
        box-shadow: 0 16px 2px -2px rgba(0, 0, 0, 0.3);
        height:200px
    }

    #icon{
        grid-column: 1/2;
        grid-row: 1/2;
        box-shadow: none;
        width: 80px;
    }

    #Menu, label, #topBar>div>h2{
        display: none;
    }

    #userIcon{
        grid-column: 3/4;
        grid-row: 1/2;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    #userIcon svg{
        margin-left: 66px;
    }

    #userIcon span{
        margin-left: 80px;
    }
    

    
    .signIn span{
        visibility: hidden;
        display: none;
    }

    .signIn{
        margin-top: 10px;
        margin-left: 45px;
    }

    #search{
        float: left;
        margin-top: -200px;
        background: none;
        grid-row: 2/3;
        margin-left: 210px;
    }

    #dropDown{
        margin-top: 20px;
        padding-bottom: 7px;
        float: left;
        background: none;
        grid-row: 3/4;
        display: flex;
        flex-direction:row;
        width: var(--med);
        justify-content: space-around;
        background: white;
    }

    #topBar img{
        max-height:1000px;
    }

    #topBar li a{
        height:120px;
        background-color: white;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: large;
    }
    
    #topBar ul{
        max-height: 120px;
        overflow: hidden;
        transition: 1s ease-in-out;
        z-index: 1;
        background-color: white;
    }

    h1{
        margin-top: 205px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        margin-bottom: -10px;
    }

    #options{
        position:absolute;
        background-color: rgba(242,242,242, .5);
        z-index: 1;
        width: var(--med);
        margin-top: 10px;
    }

    main div>img{
        margin-top: 10px;
        width:var(--med);
    }


    #details dl{
        text-align: center;
        margin-left:0;
    }

    main div.medium{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 2fr 5fr;
        line-height: 1.4rem;
    }

    main div.medium #supplies{
        line-height: 1.7rem;
    }

    main div.medium #directions li{
        margin-bottom: 20px;
        margin-right: 10px;
    }


    aside{
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(2,auto);
        padding-bottom: 10px;
    }

    aside h2{
        grid-area: 1/1/1/span 2;
    }

    aside img{
        margin-right: 10px;
    }

    aside section:last-of-type{ 
    margin-bottom: 0;
    }



    footer{
        display: grid;
        padding-top: 20px;
        grid-template-columns: 325px 1fr;
        background-color: white;
        height: 250px;
    }

    footer #goodEats{
        grid-area: 1;
    }


}

@media (min-width: 1280px){

    :root{
        --lrg: 1280px;
    }
    
    body{
        width: var(--lrg);
    }

    #topBar{
        z-index: 2;
        width: var(--lrg);
    }

    
    #topBar>div{
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.3);
    }

    #search{
        box-shadow: none;
    }

    #icon{
        grid-column: 1/2;
        grid-row: 1/2;
        box-shadow: none;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    #Menu, label, #topBar>div>h2{
        display: none;
    }

    #dropDown{
        margin-top: -100px;
        float: left;
        background: none;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(7, 70px);
        width: var(--med);
        justify-content: space-around;
    }

    #userIcon{
        grid-column: 3/4;
        grid-row: 1/2;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    #userIcon svg{
        margin-left: 160px;
        margin-top: 15px;
    }

    #userIcon span{
        margin-left: 175px;
    }
    
    .signIn span{
        visibility: hidden;
        display: none;
    }

    .signIn{
        margin-top: 15px;
        margin-left: 145px;
    }

    #topBar #dropDown img{
        max-height:1000px;
        width: 60px;
    }

    #topBar li a{
        height:100px;
        width: 50px;
        background-color: white;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: large;
        margin: 0%;
        padding: 0%;
    }
    
    #topBar ul{
        margin-left: 180px;
        max-height: 120px;
        width: 900px;
        overflow: hidden;
        transition: 1s ease-in-out;
        z-index: 1;
        background-color: white;
    }



    h1{
        margin-top: 170px;
        padding-top: 50px;
    }

    #options ul{
        width:100px;
        display: inline-block;
        border: 1px solid var(--orng);
        background-color: white;
    }

    #options li{
        padding: 40px;
    }

    #options li:last-of-type{
        padding-bottom: 80px;
    }


    main .lrg{
        display: grid;
        grid-template-rows: 100px 500px;
        grid-template-columns: 400px 650px;
        margin-left: 103px;
        margin-top: -618px;
        margin-bottom: -10px;
    }
    main img{
        width: 400px;
    }
    main.lrg img{
    grid-area: 1/1/span2/1;
    }   
    
    main .lrg p{
        grid-column: 2;
        padding-left: 30px;
        line-height: 1.9rem;
    }   

    #details{
        background-color: var(--blk);
        color: var(--blue);
        margin-top: 30px;
    }

    #details h2{
        padding-top: 5px;
    }

    #details dl{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto
    }

    #details dt{
        grid-row: 1;
        padding-top: 10px;
    }

    main div.medium{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 2fr 5fr;
        line-height: 1.4rem;
    }

    main div.medium #supplies{
        line-height: 1.7rem;
    }

    main div.medium #directions li{
        margin-bottom: 20px;
        margin-right: 10px;
    }



    aside{
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4,auto);
        padding-bottom: 10px;
    }

    aside h2{
        grid-area: 1/1/1/span 4;
    }

    aside section{
        display: grid;
        grid-template-rows: repeat(4,auto);;
    }

    aside section img{
        grid-row: 1;
        width: 250px;;
    }

    aside section h3{
        grid-row: 2;
    }

    aside section p{
        grid-row: 3;
    }

    aside section dl{
        grid-row: 4;
        display: flex;
        flex-direction: row;
    }
    
    aside section dt{
        width:50px
    }
    aside section dd{
        margin-left: 0;
        padding: 0;
    }


    



    footer{
        display: grid;
        padding-top: 20px;
        grid-template-columns: 700px 1fr;
        background-color: white;
        height: 250px;
    }

    footer #goodEats{
        grid-area: 1;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    footer #goodEats img{
        grid-area: 1/1/span 2/1;
    }

    footer #goodEats small{
        grid-column: 2;
        margin-top:-220px
    }

    footer #goodEats small:last-of-type{
        margin-top:-270px
    }

}
